body{
	font-family: 'Roboto', 'sans-serif';
	background:#dddddd;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}

.middle{
	position:absolute;
	font-family: 'Roboto', 'sans-serif';
	top: 25%;
	left: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	
}

.btn {
	background: none;
	border:0px solid #f05353 ;
	border-radius: 30px;
	text-transform: uppercase;
	padding: 12px 20px;
	min-width: 100px;
	margin: 10px;
	cursor: pointer;
	transition:color 0.4s linear ;
	position: relative;
	text-decoration: none;
}

.btn:hover{
	color:#f05353;
	border-radius: 30px;
	text-decoration: none;
}

.btn::before{
	content: "";
	border-radius: 30px;
	position: absolute;
	text-decoration: none;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #f05353;
	z-index:-1;
	transition: transform 0.5s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}


.btn2::before{
	transform:scaleX(0);
	border-radius: 30px;
}
.btn2:hover::before{
	transform:scaleX(1);
	border-radius: 30px;
}


.row{
	color:  #000000;
	
}

nav{
	background-color: #dddddd;
}

h2{
	font-weight: 700px; 
	font-size: 30px; 
	margin:0 0 20px;
	text-transform: uppercase;
}

.text-center{
	padding: 40px 0px 0px 0px;
}

ul{
	margin:0;
	list-style-type: none;
	display:flex;
	
}


#filter-list{
	display: inline-block;
	border:1px solid #dddddd;
	border-radius: 30px;
	padding: 4px;
	margin:0 0 60px;
}
#filter-list li{
	display: inline-block;
	font-size: 14px;
	color: #888888;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-weight: 500;
	padding: 0 20px;
	min-width: 60px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

}
#filter-list li.active,
#filter-list li:hover{
	background-color: #f05353;
	color: rgb(0, 0, 0);
}

/*
.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width:25px;
	height:5px;
	background-color: rgb(0, 0, 0);
	margin:5px;
}
*/

.gallery-outer{
	width: 100%;
	float: left;
	height: auto;
	padding: 0 1px;
}
.gallery-items li{
	width: 25%;
	float: left;
	padding: 0 1px 2px;
}
.gallery-items li img{
	width: 100%;
	height: auto;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.gallery-inner{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.gallery-overlay{
	width: 100%;
	position: absolute;
	left:0;
	top: 50%;
	text-align: center;
	-webkit-transform:translateY(-50%) scale(0);
	-ms-transform:translateY(-50%) scale(0);
	-moz-transform:translateY(-50%) scale(0);
     transform:translateY(-50%) scale(0);
     -webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.gallery-overlay a{
	width: 60px;
	line-height: 60px;
	background:rgb(255, 255, 255);
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	color: #f05353;
	font-size: 20px;
}
.gallery-overlay a:hover{
	background:#f17474;
	color: rgb(255, 255, 255);
}
.gallery-items li:hover .gallery-overlay{
	-webkit-transform:translateY(-50%) scale(1);
	-ms-transform:translateY(-50%) scale(1);
	-moz-transform:translateY(-50%) scale(1);
     transform:translateY(-50%) scale(1);
}
.gallery-items li:hover img{
	-webkit-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}
/*
@media screen and (max-width:560px){
	body{
		overflow:hidden;
	}
	.nav{
		position: absolute;
		right:0px;
		height:92vh;
		top:8vh;
		background-color: #f05353;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width:35%;
		transform: translateX(100%);

	}
	
}
*/

