@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  background:  url(bg06.jpg) no-repeat 50% 50%;
  display: table;
  background-size: cover;
}



.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 1000px;
  margin: auto;
  text-align: center;
  letter-spacing: 1px;
  flex-direction: column;
  
  
}
.content h1{
  font-family: "Montserrat";
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size:auto ;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .95;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  
}
.content .btn1{
  border-radius: 9px;
  color: #f9f3f4;;
  text-decoration: none;
  font-family: 'Roboto', 'sans-serif';
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
  margin: 15px;

}
.content .btn1:hover{
  color: #F05353;
}

.content .btn2{
    border-radius: 9px;
    color: #f9f3f4;;
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
    margin: 15px;

  }
  .content .btn2:hover{
    color: #F05353;
  }

  